USE [ptpmhdv]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 07/01/2025 7:28:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[bill_id] [varchar](64) NOT NULL,
	[user_id] [varchar](64) NOT NULL,
 CONSTRAINT [PK__bill__9262DC74E2A7700B] PRIMARY KEY CLUSTERED 
(
	[bill_id] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_detail]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_detail](
	[bill_detail_id] [varchar](64) NOT NULL,
	[bill_id] [varchar](64) NOT NULL,
	[item_id] [varchar](64) NULL,
	[quantity] [int] NULL,
	[price] [decimal](18, 0) NULL,
	[created_time] [datetime] NULL,
	[updated_time] [datetime] NULL,
 CONSTRAINT [PK__billdeta__0CC2AD00324CDCE3] PRIMARY KEY CLUSTERED 
(
	[bill_detail_id] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog](
	[blog_id] [varchar](64) NOT NULL,
	[img] [varchar](255) NULL,
	[author] [nvarchar](64) NULL,
	[title] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK__blog__FA0BA305BFBF47A4] PRIMARY KEY CLUSTERED 
(
	[blog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog_detail]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog_detail](
	[blog_detail_id] [varchar](64) NOT NULL,
	[blog_id] [varchar](64) NOT NULL,
	[content] [nvarchar](max) NULL,
	[quote] [nvarchar](max) NULL,
	[quote_author] [nvarchar](64) NULL,
	[created_time] [datetime] NULL,
	[updated_time] [datetime] NULL,
 CONSTRAINT [PK__blog_det__34FFA702C4EE0C68] PRIMARY KEY CLUSTERED 
(
	[blog_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [varchar](64) NOT NULL,
	[category_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_time] [datetime] NULL,
	[updated_time] [datetime] NULL,
 CONSTRAINT [PK__category__23CAF1D8C5A588D2] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[comment_id] [varchar](64) NOT NULL,
	[blog_id] [varchar](64) NOT NULL,
	[parent_comment_id] [varchar](64) NULL,
	[author] [nvarchar](64) NULL,
	[content] [nvarchar](max) NULL,
	[created_time] [datetime] NULL,
 CONSTRAINT [PK__comment__CDA84BC54004DFC6] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[homepage_slide]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[homepage_slide](
	[slide_id] [varchar](64) NOT NULL,
	[img] [varchar](255) NULL,
	[title] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[created_time] [datetime] NULL,
	[updated_time] [datetime] NULL,
 CONSTRAINT [PK__test__3213E83FBE755993] PRIMARY KEY CLUSTERED 
(
	[slide_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item](
	[item_id] [varchar](64) NOT NULL,
	[item_name] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[price] [decimal](18, 0) NULL,
	[quantity] [int] NULL,
	[category_id] [varchar](64) NULL,
	[tag] [nvarchar](255) NULL,
	[img] [varchar](255) NULL,
	[created_time] [datetime] NULL,
	[updated_time] [datetime] NULL,
 CONSTRAINT [PK__item__56A128AABAA7EA4F] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[role_id] [varchar](64) NOT NULL,
	[role_name] [varchar](255) NOT NULL,
	[created_time] [datetime] NULL,
	[updated_time] [datetime] NULL,
 CONSTRAINT [PK__role__CD98462AE212332E] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [varchar](64) NOT NULL,
	[user_name] [varchar](24) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role_id] [varchar](64) NOT NULL,
 CONSTRAINT [PK__user__345E4DA849C0DDA3] PRIMARY KEY CLUSTERED 
(
	[user_id] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_info]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_info](
	[user_id] [varchar](64) NOT NULL,
	[name] [nvarchar](64) NULL,
	[email] [varchar](255) NULL,
	[phone] [varchar](15) NULL,
	[address] [nvarchar](255) NULL,
	[img] [varchar](255) NULL,
	[date_of_birth] [date] NULL,
	[created_time] [datetime] NULL,
	[updated_time] [datetime] NULL,
 CONSTRAINT [PK__userinfo__CBA1B257B92AFDB4] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[bill] ([bill_id], [user_id]) VALUES (N'67f53cf6-0743-4df7-9b4d-48b4cd178fe8', N'5d3010dc-6679-407f-909d-de69b7cf94a9')
GO
INSERT [dbo].[bill_detail] ([bill_detail_id], [bill_id], [item_id], [quantity], [price], [created_time], [updated_time]) VALUES (N'67f53cf6-0743-4df7-9b4d-48b4cd175fe8', N'67f53cf6-0743-4df7-9b4d-48b4cd178fe8', N'0f7526e3-894a-4e40-b8a9-a55a4b6fb837', 1, CAST(23223 AS Decimal(18, 0)), CAST(N'2025-01-05T23:29:40.000' AS DateTime), NULL)
INSERT [dbo].[bill_detail] ([bill_detail_id], [bill_id], [item_id], [quantity], [price], [created_time], [updated_time]) VALUES (N'56f7ee5c-190e-4711-983a-67e500c70614', N'67f53cf6-0743-4df7-9b4d-48b4cd178fe8', N'30644cae-0694-4744-a107-a1245a1519bd', 1, CAST(45000 AS Decimal(18, 0)), CAST(N'2025-01-05T16:11:30.830' AS DateTime), NULL)
GO
INSERT [dbo].[blog] ([blog_id], [img], [author], [title], [description]) VALUES (N'031c3f46-967e-40fc-8310-2ce991fd5c64', N'\uploads\f0t0s52r.r0o.jpg', N'admin', N'Nấu ăn với dầu ô liu', N'Dầu ô liu là lựa chọn tuyệt vời cho mọi món ăn, mang đến hương vị thơm ngon, nhẹ nhàng nhưng đầy đậm đà...')
INSERT [dbo].[blog] ([blog_id], [img], [author], [title], [description]) VALUES (N'3c12e397-f0b5-45b5-b21f-cb8310c14fa4', N'\uploads\bgvfbzfj.a5r.jpg', N'admin', N'Thưởng thức buổi tụ họp tiếp theo của bạn', N'Mỗi buổi tụ họp là một cơ hội để kết nối, chia sẻ và tạo ra những kỷ niệm đẹp. Hãy để những món ăn tuyệt vời và không gian ấm cúng trở thành phần không thể thiếu trong những khoảnh khắc đặc biệt ấy...')
INSERT [dbo].[blog] ([blog_id], [img], [author], [title], [description]) VALUES (N'595d7a02-e66c-45e1-920f-4486ac23ab4a', N'\uploads\oaykf2v4.wvi.jpg', N'admin', N'Những Điều Bạn Cần Biết Về Detox', N'Đỗ Đức Thụy, một chuyên gia dinh dưỡng, giải thích "detox" thực sự có nghĩa là gì và tại sao chúng ta cần thực hiện nó. Detox không chỉ là một xu hướng hay chế độ ăn uống tạm thời, mà là một cách để cơ thể tự làm sạch, loại bỏ độc tố tích tụ từ môi trường và thực phẩm...')
GO
INSERT [dbo].[category] ([category_id], [category_name], [description], [created_time], [updated_time]) VALUES (N'0356b194-609a-4e09-bc7b-0a7f9b2f', N'Ngũ cốc và hạt', N'Gồm các loại ngũ cốc dinh dưỡng như gạo, yến mạch, bắp và các loại hạt như hạt điều, hạnh nhân, đậu xanh.', CAST(N'2025-01-01T13:30:54.657' AS DateTime), CAST(N'2025-01-07T15:08:41.000' AS DateTime))
INSERT [dbo].[category] ([category_id], [category_name], [description], [created_time], [updated_time]) VALUES (N'07f26d99-c946-4fb6-895f-89b359c2', N'Thực phẩm chăn nuôi', N'Bao gồm các sản phẩm từ chăn nuôi như trứng gà, trứng vịt, sữa bò tươi và các sản phẩm hữu cơ khác.', CAST(N'2025-01-01T13:31:04.760' AS DateTime), CAST(N'2025-01-07T15:08:44.000' AS DateTime))
INSERT [dbo].[category] ([category_id], [category_name], [description], [created_time], [updated_time]) VALUES (N'8739544c-e62d-4f72-872e-966371bb', N'Rau củ quả', N'Bao gồm các loại rau xanh, củ quả tươi như cải xanh, cà rốt, khoai tây, cà chua và nhiều loại khác được thu hoạch trực tiếp từ nông trại.', CAST(N'2025-01-01T13:30:37.907' AS DateTime), CAST(N'2025-01-07T15:08:46.000' AS DateTime))
GO
INSERT [dbo].[comment] ([comment_id], [blog_id], [parent_comment_id], [author], [content], [created_time]) VALUES (N'03493350-f284-4d94-a6b5-17bc344d3255', N'3c12e397-f0b5-45b5-b21f-cb8310c14fa4', NULL, N'7af81d17-1a62-42f0-8280-5fda5afa616a', N'Để anh ấy nấu', CAST(N'2025-01-03T21:37:50.143' AS DateTime))
INSERT [dbo].[comment] ([comment_id], [blog_id], [parent_comment_id], [author], [content], [created_time]) VALUES (N'3168c613-604a-4165-a05d-ec312be7d304', N'3c12e397-f0b5-45b5-b21f-cb8310c14fa4', N'03493350-f284-4d94-a6b5-17bc344d3255', N'aefbdfbb-5db9-4edc-a28a-a3b960a64986', N'Để anh ấy nấu đi, biết đâu lại thành siêu đầu bếp của Đóm', CAST(N'2025-01-03T22:37:51.387' AS DateTime))
INSERT [dbo].[comment] ([comment_id], [blog_id], [parent_comment_id], [author], [content], [created_time]) VALUES (N'7b3e33ee-cd42-4c6f-bb15-0267a68dfb0c', N'3c12e397-f0b5-45b5-b21f-cb8310c14fa4', NULL, N'c55b5809-22d0-4419-9f8d-f0c0c935c719', N'Bạn nào là đóm muốn ăn thì liên hệ mình nấu cho', CAST(N'2025-01-03T21:37:48.030' AS DateTime))
GO
INSERT [dbo].[homepage_slide] ([slide_id], [img], [title], [description], [created_time], [updated_time]) VALUES (N'29251ef6-8853-4e63-b939-f36ce83a3769', N'\uploads\3vneq5kj.mpd.jpg', N'Sản Phẩm Địa Phương', N'Chất Lượng Cao Cấp', CAST(N'2024-12-31T23:56:27.043' AS DateTime), CAST(N'2025-01-07T15:08:24.000' AS DateTime))
INSERT [dbo].[homepage_slide] ([slide_id], [img], [title], [description], [created_time], [updated_time]) VALUES (N'4019e8c8-5284-4c26-9fae-750f6da60588', N'\uploads\g5wki3sn.0n5.jpg', N'Chào Mừng Đến Với Nông Trại Của Chúng Tôi', N'Sản Phẩm Sữa Tươi Từ Nông Trại', CAST(N'2024-12-31T23:54:04.630' AS DateTime), CAST(N'2025-01-07T15:08:27.000' AS DateTime))
GO
INSERT [dbo].[item] ([item_id], [item_name], [description], [price], [quantity], [category_id], [tag], [img], [created_time], [updated_time]) VALUES (N'015bcc18-08f0-48a7-b6de-863dc80c2eb0', N'Mứt táo', N'Mứt táo là món ăn ngọt được làm từ táo và đường, thích hợp làm món ăn nhẹ hoặc món tráng miệng. Mứt táo có vị ngọt dịu và thơm ngon.', CAST(20000 AS Decimal(18, 0)), 45, N'b3414f1f-ccdc-49c7-af16-4857ece9', N'new', N'\uploads\fkcbtjl0.sod.jpg', CAST(N'2025-01-01T14:05:27.627' AS DateTime), NULL)
INSERT [dbo].[item] ([item_id], [item_name], [description], [price], [quantity], [category_id], [tag], [img], [created_time], [updated_time]) VALUES (N'04ccc192-8479-49d7-b2ad-3c447dc1b2ae', N'Đậu lu pin', N'Đậu lu pin là thực phẩm giàu protein và chất xơ, tốt cho hệ tiêu hóa và sức khỏe tim mạch. Đậu lục pin có thể chế biến thành các món xào, nấu canh hoặc làm salad.', CAST(22000 AS Decimal(18, 0)), 60, N'8739544c-e62d-4f72-872e-966371bb', N'popular', N'\uploads\gc3replb.rbv.jpg', CAST(N'2025-01-01T14:01:40.343' AS DateTime), NULL)
INSERT [dbo].[item] ([item_id], [item_name], [description], [price], [quantity], [category_id], [tag], [img], [created_time], [updated_time]) VALUES (N'055d478b-1c24-4a9e-b7fd-722746bd7ef6', N'Ngô hấp', N'Ngô là nguồn cung cấp carbohydrate và chất xơ, giúp cung cấp năng lượng và cải thiện tiêu hóa. Ngô có thể ăn trực tiếp, làm món salad hoặc súp.', CAST(8000 AS Decimal(18, 0)), 200, N'890f32f1-86f7-4ceb-82d4-751719c9', N'popular', N'\uploads\q3ptymcq.qfh.jpg', CAST(N'2025-01-01T14:05:31.043' AS DateTime), NULL)
GO
INSERT [dbo].[role] ([role_id], [role_name], [created_time], [updated_time]) VALUES (N'b87574ee-d51e-417d-8338-67478848', N'admin', CAST(N'2024-12-29T14:59:27.783' AS DateTime), CAST(N'2025-01-07T15:07:49.000' AS DateTime))
INSERT [dbo].[role] ([role_id], [role_name], [created_time], [updated_time]) VALUES (N'd24819a5-a628-4069-b679-876e1644', N'user', CAST(N'2024-12-29T14:59:27.783' AS DateTime), CAST(N'2025-01-07T15:07:53.000' AS DateTime))
GO
INSERT [dbo].[user] ([user_id], [user_name], [password], [role_id]) VALUES (N'c55b5809-22d0-4419-9f8d-f0c0c935c719', N'duytuan', N'1', N'd24819a5-a628-4069-b679-876e1644')
INSERT [dbo].[user] ([user_id], [user_name], [password], [role_id]) VALUES (N'aefbdfbb-5db9-4edc-a28a-a3b960a64986', N'vietanh', N'1', N'd24819a5-a628-4069-b679-876e1644')
INSERT [dbo].[user] ([user_id], [user_name], [password], [role_id]) VALUES (N'7af81d17-1a62-42f0-8280-5fda5afa616a', N'quocanh', N'1', N'd24819a5-a628-4069-b679-876e1644')
GO
INSERT [dbo].[user_info] ([user_id], [name], [email], [phone], [address], [img], [date_of_birth], [created_time], [updated_time]) VALUES (N'500ad373-dedc-4d29-9584-9c05dfe6233c', N'Doãn Quốc Huy', N'doanquochuy@gmail.com', N'0123456781', N'unknown', N'\uploads\5nivqmh0.hcj.jpg', CAST(N'2004-08-23' AS Date), CAST(N'2025-01-07T17:56:40.047' AS DateTime), NULL)
INSERT [dbo].[user_info] ([user_id], [name], [email], [phone], [address], [img], [date_of_birth], [created_time], [updated_time]) VALUES (N'50ff8f28-b95c-4d0f-a7ca-1aa25fe64da9', N'admin', N'admin@gmail.com', N'0967785311', N'Bình Minh', N'\uploads\yzkwhabi.t1j.png', CAST(N'2004-06-02' AS Date), CAST(N'2024-12-29T14:59:27.783' AS DateTime), CAST(N'2025-01-07T15:06:30.000' AS DateTime))
INSERT [dbo].[user_info] ([user_id], [name], [email], [phone], [address], [img], [date_of_birth], [created_time], [updated_time]) VALUES (N'5d3010dc-6679-407f-909d-de69b7cf94a9', N'user', N'user@gmail.com', N'0967785311', N'Bình Minh', N'\uploads\yzkwhabi.t1j.png', CAST(N'2004-06-02' AS Date), CAST(N'2024-12-29T16:23:33.800' AS DateTime), CAST(N'2025-01-07T15:06:26.000' AS DateTime))
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [FK_bill_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [FK_bill_user]
GO
ALTER TABLE [dbo].[bill_detail]  WITH CHECK ADD  CONSTRAINT [FK_bill_detail_bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bill] ([bill_id])
GO
ALTER TABLE [dbo].[bill_detail] CHECK CONSTRAINT [FK_bill_detail_bill]
GO
ALTER TABLE [dbo].[bill_detail]  WITH CHECK ADD  CONSTRAINT [FK_bill_detail_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[item] ([item_id])
GO
ALTER TABLE [dbo].[bill_detail] CHECK CONSTRAINT [FK_bill_detail_item]
GO
ALTER TABLE [dbo].[blog_detail]  WITH CHECK ADD  CONSTRAINT [FK_blog_detail_blog] FOREIGN KEY([blog_id])
REFERENCES [dbo].[blog] ([blog_id])
GO
ALTER TABLE [dbo].[blog_detail] CHECK CONSTRAINT [FK_blog_detail_blog]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_blog] FOREIGN KEY([blog_id])
REFERENCES [dbo].[blog] ([blog_id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_blog]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_parent_comment] FOREIGN KEY([parent_comment_id])
REFERENCES [dbo].[comment] ([comment_id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_parent_comment]
GO
ALTER TABLE [dbo].[item]  WITH CHECK ADD  CONSTRAINT [FK_item_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[item] CHECK CONSTRAINT [FK_item_category]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([role_id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_role]
GO
ALTER TABLE [dbo].[user_info]  WITH CHECK ADD  CONSTRAINT [FK_user_info_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_info] CHECK CONSTRAINT [FK_user_info_user]
GO
/****** Object:  StoredProcedure [dbo].[bill_add]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[bill_add]
@billid VARCHAR (64),
@userid VARCHAR (64),
@listjson_detail NVARCHAR (MAX) AS BEGIN
  INSERT INTO bill (bill_id, user_id)
  VALUES
    (@billid, @userid);
  IF
    (@listjson_detail IS NOT NULL) BEGIN
      INSERT INTO bill_detail (bill_detail_id, bill_id, item_id, quantity, price, created_time) SELECT
      JSON_VALUE (VALUE, '$.bill_detail_id'),
      @billid,
      JSON_VALUE (VALUE, '$.item_id'),
      JSON_VALUE (VALUE, '$.quantity'),
      JSON_VALUE (VALUE, '$.price'),
      JSON_VALUE (VALUE, '$.created_time') 
      FROM
        OPENJSON (@listjson_detail);
    END;
END;
GO
/****** Object:  StoredProcedure [dbo].[bill_delete]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[bill_delete]
@billid VARCHAR (64) AS BEGIN
  DELETE 
  FROM
    bill_detail 
  WHERE
    bill_id = @billid;
  DELETE 
  FROM
    bill 
  WHERE
bill_id = @billid;
END;
GO
/****** Object:  StoredProcedure [dbo].[bill_get_all]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[bill_get_all] AS BEGIN
  SELECT
    b.bill_id,
    b.user_id,
    (
      SELECT
        bd.bill_detail_id,
        bd.item_id,
        bd.quantity,
        bd.price,
        bd.created_time,
        bd.updated_time 
      FROM
        bill_detail AS bd 
      WHERE
    bd.bill_id = b.bill_id FOR JSON PATH) AS listjson_detail 
  FROM
    bill AS b;
END;
GO
/****** Object:  StoredProcedure [dbo].[bill_get_by_id]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[bill_get_by_id]
@billid VARCHAR (64) AS BEGIN
  SELECT
    bill_id,
    user_id,
    (
      SELECT
        bill_detail_id,
        item_id,
        quantity,
        price,
        created_time,
        updated_time 
      FROM
        bill_detail 
      WHERE
    bill.bill_id = bill_detail.bill_id FOR JSON PATH) AS listjson_detail 
  FROM
    bill 
  WHERE
bill.bill_id = @billid;
END;
GO
/****** Object:  StoredProcedure [dbo].[bill_get_by_user_id]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[bill_get_by_user_id]
@userid VARCHAR (64) AS BEGIN
  SELECT
    bill_id,
    user_id,
    (
      SELECT
        bill_detail_id,
        item_id,
        quantity,
        price,
        created_time,
        updated_time 
      FROM
        bill_detail 
      WHERE
    bill.bill_id = bill_detail.bill_id FOR JSON PATH) AS listjson_detail 
  FROM
    bill 
  WHERE
bill.user_id = @userid;
END;
GO
/****** Object:  StoredProcedure [dbo].[bill_get_today]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[bill_get_today] AS BEGIN
  SELECT
    bill_id,
    user_id,
    (
      SELECT
        bill_detail_id,
        item_id,
        quantity,
        price,
        created_time,
        updated_time 
      FROM
        bill_detail 
      WHERE
    CAST (created_time AS DATE) = CAST (GETDATE() AS DATE) FOR JSON PATH) AS listjson_detail 
  FROM
    bill 
  WHERE
EXISTS (SELECT 1 FROM bill_detail WHERE CAST (created_time AS DATE) = CAST (GETDATE() AS DATE));
END;
GO
/****** Object:  StoredProcedure [dbo].[bill_get_top_10]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[bill_get_top_10] AS BEGIN
  SELECT TOP
    10 b.bill_id,
    b.user_id,
    (
      SELECT
        bd.bill_detail_id,
        bd.item_id,
        bd.quantity,
        bd.price,
        bd.created_time,
        bd.updated_time 
      FROM
        bill_detail AS bd 
      WHERE
        bd.bill_id = b.bill_id 
    AND CAST (bd.created_time AS DATE) = CAST (GETDATE() AS DATE) FOR JSON PATH) AS listjson_detail 
  FROM
    bill AS b
    JOIN bill_detail AS bd ON b.bill_id = bd.bill_id 
  WHERE
    CAST (bd.created_time AS DATE) = CAST (GETDATE() AS DATE) 
  GROUP BY
    b.bill_id,
    b.user_id 
  ORDER BY
SUM(bd.quantity) DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[bill_get_total]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[bill_get_total] AS BEGIN
  SELECT
    SUM(quantity * price) AS total 
  FROM
bill_detail 
END
GO
/****** Object:  StoredProcedure [dbo].[bill_search_by_date]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[bill_search_by_date]
@startdate DATE,
@enddate DATE AS BEGIN
  SELECT
    b.billid,
    b.userid,
    (
      SELECT
        bd.bill_detail_id,
        bd.item_id,
        bd.quantity,
        bd.price,
        bd.staff_id,
        bd.createtime,
        bd.updatetime 
      FROM
        billdetail AS bd 
      WHERE
        bd.billid = b.billid 
        AND bd.createtime BETWEEN @startdate 
    AND @enddate FOR JSON PATH) AS listjson_detail 
  FROM
    bill AS b 
  WHERE
    EXISTS (SELECT 1 FROM billdetail AS bd WHERE bd.billid = b.billid AND bd.createtime BETWEEN @startdate AND @enddate);

END
GO
/****** Object:  StoredProcedure [dbo].[bill_update]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[bill_update] @billid VARCHAR (64),
@userid VARCHAR (64),
@listjson_detail NVARCHAR (MAX) AS BEGIN
  UPDATE bill 
  SET user_id = @userid 
  WHERE
    bill_id = @billid;
  IF
    (@listjson_detail IS NOT NULL) BEGIN
      SELECT
        JSON_VALUE (VALUE, '$.bill_detail_id') AS bill_detail_id,
        JSON_VALUE (VALUE, '$.item_id') AS item_id,
        JSON_VALUE (VALUE, '$.quantity') AS quantity,
        JSON_VALUE (VALUE, '$.price') AS price,
        JSON_VALUE (VALUE, '$.updated_time') AS updated_time,
        JSON_VALUE (VALUE, '$.status') AS status INTO #Temp 
      FROM
        OPENJSON (@listjson_detail);
      INSERT INTO bill_detail (bill_detail_id, bill_id, item_id, quantity, price, updated_time) SELECT
      bill_detail_id, 
      @billid,
      item_id,
      quantity,
      price,
      updated_time 
      FROM
        #Temp 
      WHERE
        status = '1';
      UPDATE bill_detail 
      SET bill_detail.quantity = Temp.quantity,
      bill_detail.price = Temp.price,
      bill_detail.created_time = Temp.updated_time 
      FROM
        bill_detail
        INNER JOIN #Temp AS Temp ON bill_detail.bill_detail_id = Temp.bill_detail_id 
      WHERE
        Temp.status = '2';
      DELETE bill_detail 
      FROM
        bill_detail
        INNER JOIN #Temp AS Temp ON bill_detail.bill_detail_id = Temp.bill_detail_id 
      WHERE
        Temp.status = '3';
      DROP TABLE #Temp;
      
    END;
END;
GO
/****** Object:  StoredProcedure [dbo].[blog_add]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[blog_add] @blogid VARCHAR (64),
@img VARCHAR (255),
@author NVARCHAR (64),
@title NVARCHAR (255),
@description NVARCHAR (255),
@blogdetailid VARCHAR (64),
@content NVARCHAR (MAX),
@quote NVARCHAR (255),
@quoteauthor NVARCHAR (64),
@createdtime datetime AS BEGIN
  INSERT INTO blog (blog_id, img, author, title, description)
  VALUES
    (@blogid, @img, @author, @title, @description);
  INSERT INTO blog_detail (blog_detail_id, blog_id, content, quote, quote_author, created_time)
  VALUES
(@blogdetailid, @blogid, @content, @quote, @quoteauthor, @createdtime);
END;
GO
/****** Object:  StoredProcedure [dbo].[blog_delete]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[blog_delete] @blogid VARCHAR (64) AS BEGIN
  DELETE 
  FROM
    blog_detail 
  WHERE
    blog_id = @blogid;
  DELETE 
  FROM
    blog 
  WHERE
blog_id = @blogid;
END;
GO
/****** Object:  StoredProcedure [dbo].[blog_get_all]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[blog_get_all] AS BEGIN
  SELECT
    * 
  FROM
    blog
INNER JOIN blog_detail ON blog.blog_id = blog_detail.blog_id 
END
GO
/****** Object:  StoredProcedure [dbo].[blog_get_by_id]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[blog_get_by_id]
@blogid VARCHAR (64) AS BEGIN
  SELECT
    * 
  FROM
    blog
    INNER JOIN blog_detail ON blog.blog_id = blog_detail.blog_id 
  WHERE
blog.blog_id = @blogid 
END
GO
/****** Object:  StoredProcedure [dbo].[blog_update]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[blog_update] @blogid VARCHAR (64),
@img VARCHAR (255),
@title NVARCHAR (255),
@author NVARCHAR (64),
@content NVARCHAR (MAX),
@quote NVARCHAR (255),
@description nvarchar (255),
@quoteauthor NVARCHAR (64),
@updatedtime datetime AS BEGIN
  UPDATE blog 
  SET img = @img,
  author = @author,
  title = @title,
  description = @description 
  WHERE
    blog_id = @blogid;
  UPDATE blog_detail 
  SET content = @content,
  quote = @quote,
  quote_author = @quoteauthor,
  updated_time = @updatedtime 
  WHERE
blog_id = @blogid;
END;
GO
/****** Object:  StoredProcedure [dbo].[category_add]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[category_add] @categoryid VARCHAR (32),
@categoryname NVARCHAR (256),
@description NVARCHAR (256),
@createdtime DATETIME AS BEGIN
  INSERT INTO [dbo].[category] ([category_id], [category_name], [description], [created_time])
  VALUES
(@categoryid, @categoryname, @description, @createdtime);
END;
GO
/****** Object:  StoredProcedure [dbo].[category_delete]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[category_delete] @categoryid VARCHAR (32) AS BEGIN
  DELETE 
  FROM
    [dbo].[category] 
  WHERE
[category_id] = @categoryid;
END;
GO
/****** Object:  StoredProcedure [dbo].[category_get_all]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[category_get_all] AS BEGIN
  SELECT
    * 
  FROM
[dbo].[category];
END;
GO
/****** Object:  StoredProcedure [dbo].[category_get_by_id]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[category_get_by_id] @categoryid VARCHAR (32) AS BEGIN
  SELECT
    * 
  FROM
    [dbo].[category] 
  WHERE
[category_id] = @categoryid;
END;
GO
/****** Object:  StoredProcedure [dbo].[category_update]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[category_update] @categoryid VARCHAR (32),
@categoryname NVARCHAR (256),
@description NVARCHAR (256),
@updatedtime DATETIME AS BEGIN
  UPDATE [dbo].[category] 
  SET [category_name] = @categoryname,
  [description] = @description,
  [updated_time] = @updatedtime 
  WHERE
[category_id] = @categoryid;
END;
GO
/****** Object:  StoredProcedure [dbo].[comment_add]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[comment_add] @commentid VARCHAR (64),
@blogid VARCHAR (64),
@parentcommentid VARCHAR (64),
@author NVARCHAR (64),
@content NVARCHAR (MAX),
@createdtime datetime AS BEGIN
  INSERT INTO comment (comment_id, blog_id, parent_comment_id, author, content, created_time)
  VALUES
(@commentid, @blogid, @parentcommentid, @author, @content, @createdtime);
END;
GO
/****** Object:  StoredProcedure [dbo].[comment_delete]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[comment_delete] @commentid VARCHAR (64) AS BEGIN
  DELETE 
  FROM
    comment 
  WHERE
    parent_comment_id = @commentid DELETE 
  FROM
    comment 
  WHERE
comment_id = @commentid;
END;
GO
/****** Object:  StoredProcedure [dbo].[comment_get_by_blog_id]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[comment_get_by_blog_id]
@blogid VARCHAR (64) AS BEGIN
  SELECT
    c.comment_id,
    u.name AS name,
    u.img AS img,
    c.content,
    c.created_time,
    (
      SELECT
        child.comment_id,
        child.content,
        child.created_time,
        u_child.name AS reply_name,
        u_child.img AS reply_img 
      FROM
        comment AS child
        LEFT JOIN user_info AS u_child ON child.author = u_child.user_id 
      WHERE
    child.parent_comment_id = c.comment_id FOR JSON PATH) AS listjson_replies 
  FROM
    comment c
    LEFT JOIN user_info u ON c.author = u.user_id 
  WHERE
    c.blog_id = @blogid 
AND c.parent_comment_id IS NULL;
END;
GO
/****** Object:  StoredProcedure [dbo].[comment_get_by_id]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[comment_get_by_id]
@commentid VARCHAR (64) AS BEGIN
  SELECT
    comment_id,
    author,
    content,
    created_time,
    (SELECT * FROM comment WHERE parent_comment_id = @commentid FOR JSON PATH) AS listjson_replies 
  FROM
    comment 
  WHERE
comment_id = @commentid;
END;
GO
/****** Object:  StoredProcedure [dbo].[customers]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[customers]
@updatedtime DATETIME,
@filter VARCHAR (12) AS BEGIN
  IF
    @filter = 'day' BEGIN
      SELECT
        COUNT(*) AS customers 
      FROM
        [user_info] 
      WHERE
        CAST (updated_time AS DATE) = CAST (@updatedtime AS DATE) 
    END ELSE
  IF
    @filter = 'month' BEGIN
      SELECT
        COUNT(*) AS customers 
      FROM
        [user_info] 
      WHERE
        YEAR(updated_time) = YEAR(@updatedtime) 
        AND MONTH(updated_time) = MONTH(@updatedtime) 
    END ELSE
  IF
    @filter = 'year' BEGIN
      SELECT
        COUNT(*) AS customers 
      FROM
        [user_info] 
      WHERE
        YEAR(updated_time) = YEAR(@updatedtime) 
    END 
END
GO
/****** Object:  StoredProcedure [dbo].[homepage_slide_add]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[homepage_slide_add]
@slideid VARCHAR (64),
@img VARCHAR (255),
@title NVARCHAR (255),
@description NVARCHAR (255),
@createdtime DATETIME AS BEGIN
  INSERT INTO [dbo].[homepage_slide] ([slide_id], [img], [title], [description], [created_time])
  VALUES
(@slideid, @img, @title, @description, @createdtime);
END;
GO
/****** Object:  StoredProcedure [dbo].[homepage_slide_delete]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[homepage_slide_delete]
@slideid VARCHAR (64) AS BEGIN
  DELETE 
  FROM
    [dbo].[homepage_slide] 
  WHERE
[slide_id] = @slideid;
END;
GO
/****** Object:  StoredProcedure [dbo].[homepage_slide_get_all]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[homepage_slide_get_all] AS BEGIN
  SELECT
    * 
  FROM
homepage_slide 
END
GO
/****** Object:  StoredProcedure [dbo].[homepage_slide_update]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[homepage_slide_update]
@slideid VARCHAR (64),
@img VARCHAR (255),
@title NVARCHAR (255),
@description NVARCHAR (255),
@updatedtime DATE AS BEGIN
  UPDATE [dbo].[homepage_slide] 
  SET [img] = @img,
  [title] = @title,
  [description] = @description,
  [updated_time] = @updatedtime 
  WHERE
[slide_id] = @slideid;
END;
GO
/****** Object:  StoredProcedure [dbo].[item_add]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[item_add] @itemid VARCHAR (64),
@itemname NVARCHAR (255),
@description NVARCHAR (255),
@price DECIMAL (18, 0),
@quantity INT,
@categoryid VARCHAR (64),
@tag VARCHAR (255),
@img VARCHAR (255),
@createdtime DATETIME AS BEGIN
  INSERT INTO [dbo].item ([item_id], [item_name], [description], [price], [quantity], [category_id], tag, img, [created_time])
  VALUES
    (@itemid,
      @itemname,
      @description,
      @price,
      @quantity,
      @categoryid,
      @tag,@img,
    @createdtime);

END
GO
/****** Object:  StoredProcedure [dbo].[item_delete]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[item_delete]
@itemid VARCHAR (64) AS BEGIN
  DELETE 
  FROM
    [dbo].[item] 
  WHERE
    [item_id] = @itemid;
END
GO
/****** Object:  StoredProcedure [dbo].[item_get_all]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[item_get_all] AS BEGIN
  SELECT
    * 
FROM
  item END;
GO
/****** Object:  StoredProcedure [dbo].[item_get_by_category]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[item_get_by_category]
@categoryid VARCHAR (64) AS BEGIN
  SELECT
    * 
  FROM
    item 
  WHERE
category_id = @categoryid 
END
GO
/****** Object:  StoredProcedure [dbo].[item_get_by_id]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[item_get_by_id]
@itemid VARCHAR (64) AS BEGIN
  SELECT
    * 
  FROM
    [dbo].[item] 
  WHERE
    [item_id] = @itemid;

END
GO
/****** Object:  StoredProcedure [dbo].[item_get_by_tag]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[item_get_by_tag]
@tag NVARCHAR (255) AS BEGIN
  SELECT
    * 
  FROM
    item 
  WHERE
    tag LIKE '%' + @tag + '%';

END
GO
/****** Object:  StoredProcedure [dbo].[item_search]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[item_search]
@pageindex INT, 
@pagesize INT,
@item_name NVARCHAR (255),
@category_id VARCHAR (64) AS BEGIN
  WITH Results AS (
    SELECT
      ROW_NUMBER () OVER (ORDER BY item_name ASC) AS RowNumber,
      item_id,
      item_name,
      description,
      price,
      quantity,
      category_id,
      tag,
      img,
      created_time,
      updated_time 
    FROM
      [item] 
    WHERE
      ((@item_name = '') OR (item_name LIKE '%' + @item_name + '%')) 
  AND ((@category_id = '') OR (category_id = @category_id))) SELECT
  *,
  (SELECT COUNT(*) FROM Results) AS RecordCount 
  FROM
    Results 
  WHERE
    @pagesize = 0 
    OR RowNumber BETWEEN (@pageindex - 1) * @pagesize + 1 
AND @pageindex * @pagesize;
END;
GO
/****** Object:  StoredProcedure [dbo].[item_update]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[item_update]
@itemid VARCHAR (64),
@itemname NVARCHAR (255),
@description NVARCHAR (255),
@price DECIMAL (18, 0),
@quantity INT,
@categoryid VARCHAR (64),
@updatedtime DATETIME AS BEGIN
  UPDATE [dbo].[item] 
  SET [item_name] = @itemname,
  [description] = @description,
  [price] = @price,
  [quantity] = @quantity,
  [category_id] = @categoryid,
  [updated_time] = @updatedtime 
  WHERE
    [item_id] = @itemid;

END
GO
/****** Object:  StoredProcedure [dbo].[recent_sales]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[recent_sales] AS BEGIN
  SELECT TOP
    5 user_info.name,
    item.item_name,
    item.price 
  FROM
    bill_detail
    INNER JOIN bill ON bill_detail.bill_id = bill.bill_id
    INNER JOIN item ON bill_detail.item_id = item.item_id
    INNER JOIN userinfo ON bill.user_id = user_info.user_id 
  ORDER BY
    bill_detail.updated_time,
GETDATE() ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[reports]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[reports]
  
AS
BEGIN

  SELECT 'Routine body sample line...'; -- Routine body goes from this line...

END
GO
/****** Object:  StoredProcedure [dbo].[revenue]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[revenue]
@updatedtime DATETIME,
@filter VARCHAR (12) AS BEGIN
  IF
    @filter = 'day' BEGIN
      SELECT
        SUM(quantity) AS revenue 
      FROM
        bill_detail 
      WHERE
        CAST (updated_time AS DATE) = CAST (@updatedtime AS DATE) 
    END ELSE
  IF
    @filter = 'month' BEGIN
      SELECT
        SUM(quantity) AS revenue 
      FROM
        bill_detail 
      WHERE
        YEAR(updated_time) = YEAR(@updatedtime) 
        AND MONTH(updated_time) = MONTH(@updatedtime) 
    END ELSE
  IF
    @filter = 'year' BEGIN
      SELECT
        SUM(quantity) AS revenue 
      FROM
        bill_detail 
      WHERE
        YEAR(updated_time) = YEAR(@updatedtime) 
    END 
END
GO
/****** Object:  StoredProcedure [dbo].[role_add]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[role_add]
@roleid VARCHAR (32),
@rolename VARCHAR (32) AS BEGIN
  INSERT INTO role (role_id, role_name)
  VALUES
    (@roleid, @rolename);

END
GO
/****** Object:  StoredProcedure [dbo].[role_delete]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[role_delete]
@roleid VARCHAR (32) AS BEGIN
  DELETE 
  FROM
    role 
  WHERE
role_id = @roleid 
END
GO
/****** Object:  StoredProcedure [dbo].[role_get_all]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[role_get_all] AS BEGIN
  SELECT
    * 
  FROM
role 
END
GO
/****** Object:  StoredProcedure [dbo].[role_get_by_id]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[role_get_by_id]
  @roleid VARCHAR(64)
AS
BEGIN

SELECT * FROM role WHERE role_id = @roleid
END
GO
/****** Object:  StoredProcedure [dbo].[role_update]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[role_update]
  @roleid VARCHAR(32),
  @rolename VARCHAR(32)
AS
BEGIN

UPDATE role
  SET
  [role_name] = @rolename 
  WHERE
[role_id] = @roleid;
END
GO
/****** Object:  StoredProcedure [dbo].[sales]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sales] @updatedtime DATETIME,
@filter VARCHAR (12) AS BEGIN
  IF
    @filter = 'day' BEGIN
      SELECT
        SUM(quantity * price) AS sales 
      FROM
        bill_detail 
      WHERE
        CAST (updated_time AS DATE) = CAST (@updatedtime AS DATE) 
    END ELSE
  IF
    @filter = 'month' BEGIN
      SELECT
        SUM(quantity * price) AS sales 
      FROM
        bill_detail 
      WHERE
        YEAR(updated_time) = YEAR(@updatedtime) 
        AND MONTH(updated_time) = MONTH(@updatedtime) 
    END ELSE
  IF
    @filter = 'year' BEGIN
      SELECT
        SUM(quantity * price) AS sales 
      FROM
        bill_detail 
      WHERE
        YEAR(updated_time) = YEAR(@updatedtime) 
    END 
END
GO
/****** Object:  StoredProcedure [dbo].[top_selling]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[top_selling] @updatedtime DATETIME,
@filter VARCHAR (12) AS BEGIN
  DECLARE
    @condition NVARCHAR (MAX);
  DECLARE
    @query NVARCHAR (MAX);
  IF
    @filter = 'day' 
    SET @condition = 'CAST(bill_detail.updated_time AS DATE) = CAST(@updatedtime AS DATE)';
  ELSE
  IF
    @filter = 'month' 
    SET @condition = 'YEAR(bill_detail.updated_time) = YEAR(@updatedtime) AND MONTH(bill_detail.updated_time) = MONTH(@updatedtime)';
  ELSE
  IF
    @filter = 'year' 
    SET @condition = 'YEAR(bill_detail.updated_time) = YEAR(@updatedtime)';
  SET @query = '
  SELECT TOP 5 
  item.img,
  item.item_name,
  item.price,
  SUM(bill_detail.quantity) AS sum_quantity
  FROM bill_detail
  INNER JOIN bill ON bill_detail.bill_id = bill.bill_id
  INNER JOIN item ON bill_detail.item_id = item.item_id
  WHERE ' + @condition + '
  GROUP BY item.img, item.item_name, item.price
  ORDER BY sum_quantity DESC';
  EXEC sp_executesql @query,
  N'@updatedtime DATETIME', @updatedtime;

END
GO
/****** Object:  StoredProcedure [dbo].[user_add]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[user_add] @userid VARCHAR (64),
@username VARCHAR (24),
@password VARCHAR (255),
@roleid VARCHAR (64),
@name NVARCHAR (64),
@email VARCHAR (255),
@phone VARCHAR (15),
@img VARCHAR (255),
@address NVARCHAR (255), @dateofbirth DATE,
@createdtime DATETIME AS BEGIN
  INSERT INTO [user] ([user_id], [user_name], [password], [role_id])
  VALUES
    (@userid, @username, @password, @roleid);
  INSERT INTO user_info ([user_id], name, email, phone, address, img, date_of_birth, created_time)
  VALUES
(@userid,@name,@email,@phone,@address,@img,@dateofbirth,@createdtime) 
END
GO
/****** Object:  StoredProcedure [dbo].[user_delete]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[user_delete]
@userid VARCHAR (64) AS BEGIN
  DELETE 
  FROM
    user_info 
  WHERE
    user_id = @userid DELETE 
  FROM
    [user] 
  WHERE
user_id = @userid 
END
GO
/****** Object:  StoredProcedure [dbo].[user_get_all]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[user_get_all] AS BEGIN
  SELECT
    * 
  FROM
    [user]
    INNER JOIN user_info ON [user].user_id = user_info.user_id 
  WHERE
user_name <> 'admin' 
END
GO
/****** Object:  StoredProcedure [dbo].[user_get_by_email_or_username]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[user_get_by_email_or_username]
@username VARCHAR (24),
@email VARCHAR (255) AS BEGIN
  SELECT
    * 
  FROM
    [user]
    INNER JOIN user_info ON [user].user_id = user_info.user_id 
  WHERE
([user].user_name = @username OR user_info.email = @email);
END;
GO
/****** Object:  StoredProcedure [dbo].[user_get_by_id]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[user_get_by_id]
@userid VARCHAR (64) AS BEGIN
  SELECT
    * 
  FROM
    [user]
    INNER JOIN user_info ON [user].user_id = user_info.user_id 
  WHERE
[user].user_id = @userid 
END
GO
/****** Object:  StoredProcedure [dbo].[user_get_by_username_password]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[user_get_by_username_password] (@username VARCHAR (24),
  @password VARCHAR (256)) AS BEGIN
  SELECT
    * 
  FROM
    [user] 
  WHERE
    user_name = @username 
AND password = @password 
END
GO
/****** Object:  StoredProcedure [dbo].[user_get_count]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[user_get_count] AS BEGIN
  SELECT
    COUNT(*) 
  FROM
[user] 
END
GO
/****** Object:  StoredProcedure [dbo].[user_get_info]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[user_get_info] @userid VARCHAR (64) AS BEGIN
  SELECT
    * 
  FROM
    userInfo 
  WHERE
[user_id] = @userid 
END
GO
/****** Object:  StoredProcedure [dbo].[user_get_role]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[user_get_role] @id VARCHAR (64) AS BEGIN
  SELECT
    role_name 
  FROM
    role 
  WHERE
role_id = @id 
END
GO
/****** Object:  StoredProcedure [dbo].[user_login]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[user_login] @username_or_email VARCHAR (255),
@password VARCHAR (255) AS BEGIN
  SELECT
    [user].user_id,
    [user].user_name,
    [user].role_id 
  FROM
    [user]
    INNER JOIN user_info ON [user].user_id = user_info.user_id 
  WHERE
    ([user].user_name = @username_or_email OR user_info.email = @username_or_email) 
AND [user].password = @password;
END;
GO
/****** Object:  StoredProcedure [dbo].[user_search]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[user_search]
@pageindex INT, 
@pagesize INT,
@name NVARCHAR (128),
@user_name VARCHAR (32) AS BEGIN
  WITH Results AS (
    SELECT
      ROW_NUMBER () OVER (ORDER BY user_info.name ASC) AS RowNumber,
      [user].user_id,
      [user].user_name,
      [user].role_id,
      user_info.name,
      user_info.email,
      user_info.phone,
      user_info.img,
      user_info.address,
      user_info.date_of_birth 
    FROM
      [user]
      LEFT JOIN user_info ON [user].user_id = user_info.user_id 
    WHERE
      [user].user_name <> 'admin' 
      AND ((@name = '') OR (user_info.name LIKE '%' + @name + '%')) 
  AND ((@user_name = '') OR ([user].user_name = @user_name))) SELECT
  *,
  (SELECT COUNT(*) FROM Results) AS RecordCount 
  FROM
    Results 
  WHERE
    @pagesize = 0 
    OR RowNumber BETWEEN (@pageindex - 1) * @pagesize + 1 
    AND @pageindex * @pagesize;

END
GO
/****** Object:  StoredProcedure [dbo].[user_update]    Script Date: 07/01/2025 7:28:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[user_update] @userid VARCHAR (64),
@password VARCHAR (256),
@name NVARCHAR (64),
@email VARCHAR (256),
@phone VARCHAR (15),
@img VARCHAR (256),
@address NVARCHAR (256),
@dateofbirth DATE,
@updatetime datetime AS BEGIN
  UPDATE [user] 
  SET [password] = @password 
  WHERE
    [user_id] = @userid;
  UPDATE [userinfo] 
  SET [name] = @name,
  [email] = @email,
  [phone] = @phone,
  [img] = @img,
  [address] = @address,
  [dateofbirth] = @dateofbirth,
  [updatetime] = @updatetime 
  WHERE
[user_id] = @userid;
END;
GO
